# prometheus.yml
global:
  scrape_interval: 15s
  external_labels:
    monitor: 'my-monitor'

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['prometheus:9090']
  - job_name: 'node-exporter'
    scrape_interval: 5s
    static_configs:
      - targets: ['node-exporter:9100']
  - job_name: 'aspnetcorewebapi'
    scrape_interval: 5s
    metrics_path: /healthmetrics
    static_configs:
      - targets: ['retrogamingwebapi']
  # - job_name: 'pushgateway'
  #   scrape_interval: 5s
  #   static_configs:
  #     - targets: ['pushgateway:9091']
  - job_name: 'grafana'
    scrape_interval: 5s
    static_configs:
      - targets: ['grafana:3000']